title: "Owen's Library"
description: "Write ups on various HPC/AI solution architect and system admin projects"
theme: minima

markdown: kramdown
kramdown:
  input: GFM

collections:
  projects:
    output: true

defaults:
  - scope:
      path: ""
      type: projects
    values:
      layout: post
